#display{
			width:600px;
			max-height:400px;
			padding:30px;
			border: 4px grey solid;
			
			
		}
		#heading{
		border-radius:50px 50px 0px 0px;
		padding:20px;
		margin-bottom:5px;
		width:600px;
		}
		.todolists{
			border: 1px solid #fff;
		    border-radius: 34px;
		    padding: 13px 0px 0px 20px;
		    color: #fff;
		    margin-bottom: 20px;
		}
		.todo_text{
			padding-top: 8px;
		}
